$primary-color: #e74c3c;
$accent-color: #2980b9;


body{
    font-family: 'Libre Franklin', sans-serif;
    background-color: #fafafa;
    color: #414141;
}

a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: #fff;
}

a:hover, a:active, a:focus{
    text-decoration: none;
    color: $primary-color;
}

a, button, input[type="submit"], .btn{
    text-transform: uppercase;
}
