@import 'base';

body{
    font-family: 'Montserrat';

    header{
        background-color: transparent;
        padding: 10px 24px;
        width: 100%;
        height: 56px;
        z-index: 5000;
        position: relative;

        h1{
            font-family: 'Roboto';
            margin-top: 0;
            padding-top: 4px;
            display: inline-block;
            color: #fff;
            text-transform: uppercase;
            font-size: 2em;

            a{
                &:hover, &:focus{
                    color: inherit;
                }
                span{
                    color: $primary-color;
                    font-weight: 600;
                }
            }
        }
        #menu{
            float: right;
            display: inline-block;
            text-align: center;
            font-size: 1em;
            margin-top: 8px;
            font-weight: bold;

            ul {
                list-style-type: none;

                li{
                    float: left;

                    a{
                        display: inline-block;
                        padding-right: 16px;
                    }
                }
            }

            #toggle-menu{
                display: none;
            }
        }

        @media screen and (max-width:680px) {
            background-color: #161719;
            box-shadow: 2px 2px 2px rgba(9, 9, 10, 0.4);

            #menu{
                ul{
                    position: absolute;
                    width: 100%;
                    background-color: #161719;
                    box-shadow: 2px 2px 2px rgba(9, 9, 10, 0.4);
                    top: 50px;
                    right: 0;
                    padding: 0;
                    overflow: hidden;
                    max-height: 0;
                    transition: max-height 1s;

                    li{
                        display: none;
                        float: none;
                        padding: 16px;

                        a{
                            padding: 0;
                            display: block;
                            text-align: center;
                        }
                    }
                }

                #toggle-menu{
                    display: inline-block;
                    position: absolute;
                    top: 18px;
                    right: 36px;

                    button{
                        background-color: transparent;
                        border: none;
                        color: #fff;
                    }
                }

                ul.open{
                    max-height: 1000px;
                    transition: max-height 1s;

                    li{
                        display: block;
                    }
                }
            }
        }
    }

    .navbar-scrolled{
        background-color: #161719;
        box-shadow: 2px 2px 2px rgba(9, 9, 10, 0.4);
        position: fixed;
        top: -56px;
        left: 0;
        width: 100%;
        animation: navbar-animation 0.5s ease-in-out forwards;
    }

    @keyframes navbar-animation {
        from  {top: -56px;}
        to  {top: 0;}
    }

    main{
        #home{
            background-image: url('../img/bg.png');
            background-size: cover;
            margin: 0;
            margin-top: -56px;
            padding-left: 24px;
            min-height: 100vh;

            a{
                color: #fff;
                text-transform: uppercase;
                font-size: 5.5em;

                @media screen and (max-width:680px){
                    font-size: 3em;
                }
            }
            #we, #awesome{
                color: $primary-color;
            }
            #do, #stuff{
                font-weight: bold;
            }

        }
        #services{
            min-height: 100vh;
            padding-top: 56px;
            background-color: #fff;
            text-align: center;

            h2{
                font-size: 2em;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            #service-list{
                display: flex;
                flex-wrap: wrap;
                flex: 1 100%;
                padding: 32px;
                justify-content: space-around;

                .service {
                    flex-basis: 280px;
                    margin-top: 72px;

                    h3 {
                        margin-top: 54px;
                        font-size: 1.3em;
                    }
                }
            }
        }
        #team{
            min-height: 100vh;
            padding-top: 56px;
            background-color: #eee;
            text-align: center;

            h2{
                color: #161719;
                font-size: 2em;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            #member-list{
                display: flex;
                flex-wrap: wrap;
                flex: 1 100%;
                padding:32px;
                font-family: 'Montserrat';
                padding-top: 0;
                justify-content: space-around;

                .member{
                    position: relative;
                    margin: 16px;
                    flex-basis: 240px;
                    overflow: hidden;
                    box-shadow: 0 7px 15px -8px rgba(0, 0, 0, 1);

                    img{
                        width: 100%;
                        transition: all 0.2s ease-in-out;
                    }
                    h3{
                        padding: 12px;
                        width: 100%;
                        margin: 0;
                        text-align: left;
                        background-color: rgba(0,0,0,0.5);
                        font-size: 1.3em;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        color: #fff;
                        transition: all 0.2s ease-in;
                    }
                    section{
                        position: absolute;
                        background-color: rgba(0,0,0,0.5);
                        width: 100%;
                        bottom: -56px;
                        overflow: hidden;
                        text-align: left;
                        height: 56px;
                        color: #fff;
                        transition: all 0.2s ease-in;

                        p{
                            padding-left: 12px;
                            text-align: left;
                        }
                        .fa{
                            padding-left: 12px;
                        }
                    }
                    &:hover, &:active {
                        h3{
                            bottom: 56px;
                        }
                        section{
                            bottom: 0;
                        }
                    }
                }

            }
        }
    }
}
@media screen and (min-width: 1366px){
    #member-list{
        .member{
            flex-basis: 300px !important;
            height: 480px !important;
            object-fit: cover !important;

            img{
                margin-left: -25%;
                width: inherit!important;
                height: 100%;
                transform-origin: center;
                transform: scale(1.1);
            }
            &:hover, &:active {
                img{
                    transform: scale(1);
                }
            }
        }
    }
}
