body {
  background-color: #f3f3f3;
  font-family: 'Lato', sans-serif;
  color: #616161;
  font-weight: 400;
  line-height: 1.24; }

a {
  text-decoration: none; }

a:hover, a:focus, a:active {
  text-decoration: none; }

body {
  background-color: #f0f0f0; }
  body h1, body h2, body h3, body h4 {
    margin: 0; }
  body * {
    line-height: 1.6; }
  body nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 72px;
    padding: 0 24px;
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.5); }
    body nav h1 {
      font-size: 3em;
      font-weight: 100;
      text-transform: uppercase;
      margin: 0; }
      body nav h1 a {
        color: #414141; }
      body nav h1 strong {
        font-weight: 300;
        color: #e04c56; }
    @media screen and (max-width: 720px) {
      body nav h1 {
        font-size: 1.6em; } }
  body main {
    z-index: 1;
    padding-bottom: 32px; }
    body main header {
      position: relative;
      z-index: 1; }
      body main header img {
        width: 100%;
        height: 40vh;
        object-fit: cover; }
      body main header #header-bg {
        height: 40vh;
        background: #fd746c;
        background: linear-gradient(to top, #fd746c, #ff9068); }
    body main article {
      position: relative;
      max-width: 800px;
      min-height: 80vh;
      padding: 32px;
      background-color: #fff;
      margin: -144px auto 0 auto;
      z-index: 10;
      box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.5); }
      @media screen and (max-width: 720px) {
        body main article {
          padding: 24px;
          margin: -108px 10px 0 10px; } }
      body main article h2 {
        font-size: 2em;
        line-height: 1.25;
        margin-bottom: 16px; }
      body main article date {
        color: rgba(0, 0, 0, 0.5);
        font-size: 1.11em; }
        body main article date i {
          margin-right: 10px; }
      body main article .job-overview {
        padding: 32px 0; }
        body main article .job-overview .section-title {
          text-transform: uppercase;
          font-size: 1.2em;
          font-weight: 600; }
        body main article .job-overview .category {
          display: flex; }
          body main article .job-overview .category .title {
            flex-basis: 144px;
            padding: 0;
            margin: 0; }
          body main article .job-overview .category .value {
            flex-basis: calc(100% - 144px);
            padding: 0;
            margin: 0; }
            body main article .job-overview .category .value:before {
              content: ': '; }
          @media screen and (max-width: 720px) {
            body main article .job-overview .category .title {
              flex-basis: 96px; }
            body main article .job-overview .category .value {
              flex-basis: calc(100% - 96px); } }
        body main article .job-overview .section .section-title {
          text-transform: uppercase;
          font-size: 1.2em;
          font-weight: 600; }
      body main article > a {
        display: inline-block;
        margin-top: 16px;
        text-transform: uppercase;
        color: #e04c56;
        font-size: 1.11em;
        padding: 6px 0; }
        body main article > a i {
          margin-right: 8px; }
  body footer {
    background-color: #eee; }
    body footer #contact {
      min-height: 500px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
      body footer #contact .fa {
        width: 32px; }
      body footer #contact #the-map {
        max-width: 800px;
        width: 100%;
        min-width: 200px;
        max-height: 600px;
        height: 100%;
        min-height: 200px; }
        body footer #contact #the-map iframe {
          width: 100%;
          height: 400px;
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
          border: 1px solid rgba(255, 255, 255, 0.1); }
      body footer #contact a {
        color: #e04c56; }

/*# sourceMappingURL=career-details.css.map */
