body {
  background-color: #f3f3f3;
  font-family: 'Lato', sans-serif;
  color: #616161;
  font-weight: 400;
  line-height: 1.24; }

a {
  text-decoration: none; }

a:hover, a:focus, a:active {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff; }
  body * {
    line-height: 1.6; }
  body nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 72px;
    padding: 0 24px;
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.5); }
    body nav h1 {
      font-size: 3em;
      font-weight: 100;
      text-transform: uppercase;
      margin: 0; }
      body nav h1 a {
        color: #414141; }
      body nav h1 strong {
        font-weight: 300;
        color: #e04c56; }
    @media screen and (max-width: 720px) {
      body nav h1 {
        font-size: 1.6em; } }
  body main {
    width: 80%;
    margin: auto; }
    body main h1 {
      display: flex;
      justify-content: center; }
    body main #career-list {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center; }
      body main #career-list .career {
        max-width: 800px;
        background-color: #fff;
        padding: 32px;
        margin: 24px;
        box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.5); }
        body main #career-list .career img {
          width: calc(100% + 64px);
          height: 240px;
          margin: -32px -32px 0 -32px;
          object-fit: cover; }
        body main #career-list .career .job-title {
          font-size: 2em;
          line-height: 1.25;
          margin-bottom: 16px;
          background-color: rgba(255, 255, 255, 0.8);
          z-index: 1; }
        body main #career-list .career date {
          color: rgba(0, 0, 0, 0.5); }
          body main #career-list .career date i {
            margin-right: 10px; }
        body main #career-list .career .job-overview .category {
          display: flex; }
          body main #career-list .career .job-overview .category .title {
            flex-basis: 144px;
            padding: 0;
            margin: 0; }
          body main #career-list .career .job-overview .category .value {
            flex-basis: calc(100% - 144px);
            padding: 0;
            margin: 0; }
            body main #career-list .career .job-overview .category .value:before {
              content: ': '; }
          @media screen and (max-width: 720px) {
            body main #career-list .career .job-overview .category .title {
              flex-basis: 96px; }
            body main #career-list .career .job-overview .category .value {
              flex-basis: calc(100% - 96px); } }
        body main #career-list .career a {
          display: inline-block;
          text-transform: uppercase;
          width: 100%;
          padding: 6px 0;
          margin: 16px 0 0 0;
          color: #e04c56;
          font-size: 1em; }
          body main #career-list .career a i {
            margin-left: 8px; }
        @media screen and (max-width: 1080px) {
          body main #career-list .career {
            margin-bottom: 16px;
            padding: 24px;
            margin: 10px; }
            body main #career-list .career img {
              width: calc(100% + 48px);
              margin: -24px -24px 0 -24px; } }
        @media screen and (max-width: 720px) {
          body main #career-list .career {
            margin: 6px; }
            body main #career-list .career h3 {
              font-size: 1.33em; } }
  body footer {
    background-color: #eee; }
    body footer #contact {
      min-height: 500px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
      body footer #contact .fa {
        width: 32px; }
      body footer #contact #the-map {
        max-width: 800px;
        width: 100%;
        min-width: 200px;
        max-height: 600px;
        height: 100%;
        min-height: 200px; }
        body footer #contact #the-map iframe {
          width: 100%;
          height: 400px;
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
          border: 1px solid rgba(255, 255, 255, 0.1); }
      body footer #contact a {
        color: #e04c56; }

/*# sourceMappingURL=careers.css.map */
