body {
  font-family: 'Libre Franklin', sans-serif;
  background-color: #fafafa;
  color: #414141; }

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  color: #3498db; }

a, button, input[type="submit"], .btn {
  text-transform: uppercase; }

body #wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll; }
  body #wrapper #parallax-group-1 {
    position: relative;
    transform-style: preserve-3d; }
    body #wrapper #parallax-group-1 #background {
      transform: translateZ(-1px) scale(2);
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0;
      background-image: url("../img/header-bg.jpg");
      background-position: center center;
      background-size: cover;
      background-color: #717171;
      background-blend-mode: multiply; }
    body #wrapper #parallax-group-1 #foreground {
      position: absolute;
      top: 0;
      width: 100%; }
      body #wrapper #parallax-group-1 #foreground header {
        height: 50vh;
        color: #fff;
        padding: 24px;
        margin: 0; }
        body #wrapper #parallax-group-1 #foreground header h1 {
          text-transform: uppercase;
          font-weight: 300; }
          body #wrapper #parallax-group-1 #foreground header h1 span {
            color: #5faee3; }
        body #wrapper #parallax-group-1 #foreground header #logo {
          width: 300px; }
        body #wrapper #parallax-group-1 #foreground header #menu {
          float: right; }
          body #wrapper #parallax-group-1 #foreground header #menu a {
            display: inline-block;
            margin: 24px;
            color: #fff; }
        body #wrapper #parallax-group-1 #foreground header #intro {
          font-family: 'Abel', sans-serif;
          font-size: 3em;
          color: white;
          padding: 24px;
          text-align: center; }
        body #wrapper #parallax-group-1 #foreground header #extra {
          text-align: center;
          color: rgba(255, 255, 255, 0.6);
          font-size: 1.3em; }
      body #wrapper #parallax-group-1 #foreground h2 {
        font-weight: 300;
        text-transform: uppercase; }
      body #wrapper #parallax-group-1 #foreground #services {
        background: linear-gradient(transparent, #3498db);
        color: rgba(255, 255, 255, 0.8);
        padding: 24px;
        min-height: 50vh; }
        body #wrapper #parallax-group-1 #foreground #services h2 {
          color: #fff;
          margin-bottom: 64px;
          text-align: center; }
        body #wrapper #parallax-group-1 #foreground #services .service {
          text-align: center;
          padding: 24px; }
          body #wrapper #parallax-group-1 #foreground #services .service .fa {
            margin-bottom: 32px; }
          body #wrapper #parallax-group-1 #foreground #services .service h3 {
            font-family: 'Abel', sans-serif; }
      body #wrapper #parallax-group-1 #foreground #members {
        padding: 24px;
        background-color: #f5f5f5; }
        body #wrapper #parallax-group-1 #foreground #members #member-list {
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          justify-content: center; }
        body #wrapper #parallax-group-1 #foreground #members h2 {
          margin-bottom: 48px; }
        body #wrapper #parallax-group-1 #foreground #members .member {
          background-color: #fff;
          text-align: center;
          flex-basis: 360px;
          padding: 24px;
          margin: 32px;
          box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.5); }
          body #wrapper #parallax-group-1 #foreground #members .member img {
            width: 256px; }
          body #wrapper #parallax-group-1 #foreground #members .member .fa {
            margin: 16px; }
        @media screen and (min-width: 1367px) {
          body #wrapper #parallax-group-1 #foreground #members .member {
            margin: 10px;
            flex-basis: 320px; } }
      body #wrapper #parallax-group-1 #foreground #contact {
        background-color: #fff;
        padding: 24px; }
        body #wrapper #parallax-group-1 #foreground #contact h2 {
          margin-bottom: 54px; }
        body #wrapper #parallax-group-1 #foreground #contact .fa {
          width: 32px; }
      body #wrapper #parallax-group-1 #foreground footer {
        padding: 48px;
        background-color: #414141;
        color: #ddd;
        font-weight: 500;
        text-align: center; }

/*# sourceMappingURL=home.css.map */
