body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Lato', sans-serif;
  color: #414141;
  font-weight: 400;
  line-height: 1.5;
  max-width: 100vw;
  overflow-x: hidden; }

a {
  text-decoration: none; }

a:hover, a:focus, a:active {
  text-decoration: none; }

body header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #717171;
  background-image: url("../img/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
  text-align: center; }
  body header h1 {
    font-size: 6em;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 16px; }
    body header h1 strong {
      font-weight: 300;
      color: rgba(231, 76, 60, 0.8); }
  body header p {
    font-size: 2em;
    font-weight: 300;
    margin: 0;
    letter-spacing: 10px;
    text-transform: lowercase; }
  @media screen and (max-width: 720px) {
    body header h1 {
      font-size: 4em;
      font-weight: 100; }
      body header h1 strong {
        font-weight: 300; }
    body header p {
      font-size: 1.5em;
      letter-spacing: 5px; } }
  @media screen and (max-width: 480px) {
    body header h1 {
      font-size: 3em;
      font-weight: 100; }
      body header h1 strong {
        font-weight: 300; }
    body header p {
      font-size: 1em;
      letter-spacing: 5px; } }
  body header a {
    display: inline-block;
    width: 100px;
    height: 76px;
    position: relative;
    cursor: pointer;
    animation: oscillation 1s infinite linear; }
    body header a #l, body header a #r {
      position: absolute;
      display: inline-block;
      width: 72px;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.6);
      top: 0;
      transition: 0.2s all linear; }
    body header a #l {
      left: 0;
      transform-origin: left;
      transform: rotate(45deg); }
    body header a #r {
      right: 0;
      transform-origin: right;
      transform: rotate(-45deg); }
    body header a:hover {
      animation: none; }
      body header a:hover #l {
        transform: translateX(-5px) rotate(45deg) scale(1.1); }
      body header a:hover #r {
        transform: translateX(5px) rotate(-45deg) scale(1.1); }
      body header a:hover #l, body header a:hover #r {
        background-color: #fff; }
body main {
  min-height: 100vh; }
  body main h2 {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 0;
    margin-bottom: 0; }
  body main #service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 48px; }
    body main #service-list .service {
      width: 144px;
      padding: 24px;
      text-align: center;
      background-color: #fff;
      margin: 16px;
      transition: 0.2s all ease-in-out;
      box-shadow: 0px 5px 15px -5px black;
      cursor: pointer; }
      body main #service-list .service:hover {
        box-shadow: 0px 15px 40px -15px black; }
      body main #service-list .service .fa {
        margin-bottom: 48px; }
      body main #service-list .service h3 {
        margin: 0; }
  body main #works {
    padding: 100px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    body main #works h3 {
      font-weight: 300;
      text-align: center;
      margin-left: -40px; }
    body main #works .work-list {
      position: relative;
      width: 400px;
      height: 400px;
      perspective: 100px;
      overflow: hidden;
      padding-left: 40px; }
      body main #works .work-list .work {
        position: absolute;
        box-shadow: 0px 15px 45px -15px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 320px;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
        body main #works .work-list .work:nth-child(0) {
          z-index: 10;
          transform: translateZ(-0px);
          top: calc(48px - 0px); }
        body main #works .work-list .work:nth-child(1) {
          z-index: 9;
          transform: translateZ(-2px);
          top: calc(48px - 10px); }
        body main #works .work-list .work:nth-child(2) {
          z-index: 8;
          transform: translateZ(-4px);
          top: calc(48px - 20px); }
        body main #works .work-list .work:nth-child(3) {
          z-index: 7;
          transform: translateZ(-6px);
          top: calc(48px - 30px); }
        body main #works .work-list .work:nth-child(4) {
          z-index: 6;
          transform: translateZ(-8px);
          top: calc(48px - 40px); }
        body main #works .work-list .work:nth-child(5) {
          z-index: 5;
          transform: translateZ(-10px);
          top: calc(48px - 50px); }
        body main #works .work-list .work:nth-child(6) {
          z-index: 4;
          transform: translateZ(-12px);
          top: calc(48px - 60px); }
        body main #works .work-list .work:nth-child(7) {
          z-index: 3;
          transform: translateZ(-14px);
          top: calc(48px - 70px); }
        body main #works .work-list .work:nth-child(8) {
          z-index: 2;
          transform: translateZ(-16px);
          top: calc(48px - 80px); }
        body main #works .work-list .work:nth-child(9) {
          z-index: 1;
          transform: translateZ(-18px);
          top: calc(48px - 90px); }
        body main #works .work-list .work:nth-child(10) {
          z-index: 0;
          transform: translateZ(-20px);
          top: calc(48px - 100px); }
        body main #works .work-list .work img {
          width: 100%;
          max-height: 200px;
          overflow: hidden; }
        body main #works .work-list .work p {
          margin: 0;
          padding: 10px; }
      body main #works .work-list:hover .work:nth-child(0) {
        top: calc(200px - 0px); }
      body main #works .work-list:hover .work:nth-child(1) {
        top: calc(200px - 40px); }
      body main #works .work-list:hover .work:nth-child(2) {
        top: calc(200px - 80px); }
      body main #works .work-list:hover .work:nth-child(3) {
        top: calc(200px - 120px); }
      body main #works .work-list:hover .work:nth-child(4) {
        top: calc(200px - 160px); }
      body main #works .work-list:hover .work:nth-child(5) {
        top: calc(200px - 200px); }
      body main #works .work-list:hover .work:nth-child(6) {
        top: calc(200px - 240px); }
      body main #works .work-list:hover .work:nth-child(7) {
        top: calc(200px - 280px); }
      body main #works .work-list:hover .work:nth-child(8) {
        top: calc(200px - 320px); }
      body main #works .work-list:hover .work:nth-child(9) {
        top: calc(200px - 360px); }
      body main #works .work-list:hover .work:nth-child(10) {
        top: calc(200px - 400px); }

@keyframes oscillation {
  0% {
    transform: translateY(0px); }
  25% {
    transform: translateY(-10px); }
  75% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }
@keyframes swipe {
  50% {
    transform: translateX(100px); }
  100% {
    z-index: 100;
    transform: translateZ(-30px);
    top: 100px; } }

/*# sourceMappingURL=home.css.map */
