@import 'dimens';
@import 'colors';
@import 'utils';

body {
    background-color: $background-color;
    font-family: 'Lato', sans-serif;
    color: $text-color;
    font-weight: $font-weight-default;
    line-height: $line-height-default;
}

a {
    text-decoration: none;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}
