$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-small: 12px;
$font-size-default: $font-size-medium;


$line-height-medium: 1.5;
$line-height-small: 1.24;
$line-height-large: 1.8;
$line-height-default: $line-height-small;

$font-weight-normal: 400;
$font-weight-light: 400;
$font-weight-bold: 700;
$font-weight-default: $font-weight-normal;
