@import 'base';

body{
    header{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #717171;
        background-image: url('../img/bg.jpg');
        background-position: center center;
        background-size: cover;
        background-blend-mode: multiply;
        color: #fff;
        text-align: center;

        h1{
            font-size: 6em;
            font-weight: 100;
            text-transform: uppercase;
            margin-bottom: 16px;

            strong{
                font-weight: 300;
                color: $primary-color;
            }
        }
        p{
            font-size: 2em;
            font-weight: 300;
            margin: 0;
            letter-spacing: 10px;
            text-transform: lowercase;
        }
        @media screen and (max-width: 720px) {
            h1{
                font-size: 4em;
                font-weight: 100;

                strong{
                    font-weight: 300;
                }
            }
            p{
                font-size: 1.5em;
                letter-spacing: 5px;
            }
        }
        @media screen and (max-width: 480px) {
            h1{
                font-size: 3em;
                font-weight: 100;

                strong{
                    font-weight: 300;
                }
            }
            p{
                font-size: 1em;
                letter-spacing: 5px;
            }
        }
        a{
            display: inline-block;
            width: 100px;
            height: 76px;
            position: relative;
            cursor: pointer;
            animation: oscillation 1s infinite linear;

            #l, #r{
                position: absolute;
                display: inline-block;
                width: 72px;
                height: 3px;
                background-color: rgba(255, 255, 255, 0.6);
                top: 0;
                transition: 0.2s all linear;
            }
            #l{
                left: 0;
                transform-origin: left;
                transform: rotate(45deg);
            }
            #r{
                right: 0;
                transform-origin: right;
                transform: rotate(-45deg);
            }

            &:hover{
                animation: none;
                #l{
                    transform: translateX(-5px) rotate(45deg) scale(1.1);
                }
                #r{
                    transform: translateX(5px) rotate(-45deg) scale(1.1);
                }
                #l, #r{
                    background-color: #fff;
                }
            }
        }
    }
    main{
        min-height: 100vh;

        h2{
            text-align: center;
            padding-top: 4vh;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        #service-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 48px;

            .service{
                width: 144px;
                padding: 24px;
                text-align: center;
                background-color: #fff;
                margin: 16px;
                transition: 0.2s all ease-in-out;
                box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 1);
                cursor: pointer;

                &:hover{
                    box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 1);
                }
                .fa{
                    margin-bottom: 48px;
                }
                h3{
                    margin: 0;
                }
            }
        }

        #works{
            padding: 100px;
            min-height: 100vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            h3{
                font-weight: 300;
                text-align: center;
                margin-left: -40px;
            }
            .work-list{
                position: relative;
                width: 400px;
                height: 400px;
                perspective: 100px;
                overflow: hidden;
                padding-left: 40px;

                .work{
                    position: absolute;
                    box-shadow: 0px 15px 45px -15px rgba(0, 0, 0, 0.5);
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    //padding: 10px;
                    width: 320px;
                    background-color: #fff;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    @for $i from 0 through 10 {
                        &:nth-child(#{$i}) {
                            z-index: 10-$i;
                            transform: translateZ(-#{$i * 2}px);
                            top: calc(48px - #{$i * 10}px);

                            // &:hover{
                            //     top: -#{$i * 24}px;
                            // }
                        }
                    }
                    img{
                        width: 100%;
                        max-height: 200px;
                        overflow: hidden;
                        //margin: -10px;
                    }
                    p{
                        //margin-top: -4px;
                        margin: 0;
                        padding: 10px;
                    }

                }

                &:hover{
                    .work{
                        @for $i from 0 through 10 {
                            &:nth-child(#{$i}) {
                                top: calc(200px - #{$i * 40}px);
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes oscillation{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-10px);
    }

    75%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes swipe{
    50%{
        transform: translateX(100px);
    }
    100%{
        z-index: 100;
        transform: translateZ(-30px);
        top: 100px;
    }
}
