@import 'base';

body{
    width: 100vw;
    overflow-x: hidden;

    h1, h2, h3, h4, h5{
        font-weight: 400;
    }
    h1, h2{
        text-transform: uppercase;
    }
    header{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #717171;
        background-image: url('../img/bg.jpg');
        background-position: center center;
        background-size: cover;
        background-blend-mode: multiply;
        color: #fff;
        text-align: center;

        #menu{
            margin: 0;
            a{
                display: inline-block;
                color: #fff;
                padding: 10px;
                cursor: pointer;
                opacity: 0.5;
                letter-spacing: 0.1em;
                margin-top: 4px;
                font-weight: 400;
                transition: 0.2s all ease-in-out;

                &:hover{
                    opacity: 1;
                }
            }
        }
        h1{
            font-size: 6em;
            font-weight: 100;
            text-transform: uppercase;
            margin-bottom: 16px;
            margin-top: 0;

            strong{
                font-weight: 300;
                color: $primary-color;
            }
        }
        p{
            font-size: 2em;
            font-weight: 300;
            margin: 0;
            letter-spacing: 10px;
            text-transform: lowercase;
        }
        @media screen and (max-width: 720px) {
            h1{
                font-size: 4em;
                font-weight: 100;

                strong{
                    font-weight: 300;
                }
            }
            p{
                font-size: 1.5em;
                letter-spacing: 5px;
            }
        }
        @media screen and (max-width: 480px) {
            h1{
                font-size: 3em;
                font-weight: 100;

                strong{
                    font-weight: 300;
                }
            }
            p{
                font-size: 1em;
                letter-spacing: 5px;
            }
        }
        #arrow{
            a{
                display: inline-block;
                width: 100px;
                height: 76px;
                position: relative;
                cursor: pointer;
                animation: oscillation 1s infinite linear;

                #l, #r{
                    position: absolute;
                    display: inline-block;
                    width: 72px;
                    height: 3px;
                    background-color: rgba(255, 255, 255, 0.6);
                    top: 0;
                    transition: 0.2s all linear;
                }
                #l{
                    left: 0;
                    transform-origin: left;
                    transform: rotate(45deg);
                }
                #r{
                    right: 0;
                    transform-origin: right;
                    transform: rotate(-45deg);
                }

                &:hover{
                    animation: none;
                    #l{
                        transform: translateX(-5px) rotate(45deg) scale(1.1);
                    }
                    #r{
                        transform: translateX(5px) rotate(-45deg) scale(1.1);
                    }
                    #l, #r{
                        background-color: #fff;
                    }
                }
            }
        }
    }
    main{
        min-height: 100vh;
        h2{
            text-align: center;
            margin: 0;
            font-size: 2em;
            @media screen and (max-width: 480px) {
                padding-bottom: 24px;
            }
        }
        #services{
            h2{
                padding-top: 48px;
            }
            #service-list{
                min-height: calc(100vh - 100px);
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                .service{
                    width: 160px;
                    padding: 24px;
                    text-align: center;
                    background-color: #fff;
                    margin: 10px 24px;
                    transition: 0.2s all ease-in-out;
                    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5);
                    cursor: pointer;
                    overflow: hidden;

                    img{
                        width: auto;
                        height: 100px;
                    }
                    @media screen and (min-width: 1366px) {
                        width: 240px;

                        img{
                            width: auto;
                            height: 240px;
                        }
                    }
                    h3{
                        margin: 0;
                        font-weight: 400;
                        font-size: 1em;
                        height: 72px;
                    }
                    &:hover{
                        box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.5);
                    }
                    @media screen and (max-width: 480px) {
                        margin: 4px 0;
                        box-shadow: none;
                        width: 100%;
                        background-color: transparent;

                        img{
                            width: 48px;
                            height: 48px;
                            float: left;
                            margin-right: 24px;
                        }
                        h3{
                            height: auto;
                            font-weight: 400;
                            font-size: 1em;
                            text-align: left;
                            padding-top: 10px;
                        }

                        &:hover{
                            box-shadow: none;
                        }
                        &:not(:last-child){
                            border-bottom: 2px solid rgba(0, 0, 0, 0.05);
                        }
                    }
                }
            }
        }
        #team{
            background-color: #fff;
            h2{
                padding-top: 48px;
            }
            #member-list{
                min-height: calc(90vh - 100px);
                width: 80%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                .member{
                    position: relative;
                    transition: 0.2s all ease-in-out;
                    line-height: 0;
                    height: 50vh;

                    img{
                        width: 100%;
                        height: 100%;
                        //margin-left: -22%;
                        object-fit: cover;
                        object-position: center;
                    }

                    @media screen and (min-width: 480px) {
                        margin: 10px;
                        flex-basis: 240px;
                        overflow: hidden;
                        box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 1);

                        h3{
                            position: absolute;
                            padding: 12px;
                            margin: 24px;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            margin: 0;
                            text-align: left;
                            background-color: rgba(0,0,0,0.5);
                            font-size: 1.3em;
                            color: #fff;
                            transition: all 0.2s ease-in;
                            line-height: normal;
                        }
                        section{
                            position: absolute;
                            background-color: rgba(0,0,0,0.5);
                            width: 100%;
                            bottom: -56px;
                            overflow: hidden;
                            text-align: left;
                            height: 56px;
                            line-height: normal;
                            transition: all 0.2s ease-in;
                            color: #fff;

                            p{
                                margin: 0;
                                margin-bottom: 8px;
                                padding-left: 12px;
                                text-align: left;
                            }
                            .fa{
                                padding-left: 12px;
                                color: #fff;
                            }
                        }
                        &:hover{

                            h3{
                                bottom: 56px;
                            }
                            section{
                                bottom: 0;
                            }
                        }
                    }
                    @media screen and (min-width: 1366px){
                        height: 50vh;
                        margin: 10px;

                        img{
                            //margin-left: -33%;
                        }
                    }
                    @media screen and (max-width: 480px) {
                        padding: 0 24px;
                        width: 100%;
                        margin: 0;
                        height: auto;

                        &:not(:last-child){
                            section{
                                display: inline-block;
                                border-bottom: 2px solid rgba(0, 0, 0, 0.05);
                                width: calc(100% - 124px);
                            }
                        }
                        section{
                            padding-bottom: 16px;
                        }
                        img{
                            float: left;
                            width: 100px;
                            height: 100px;
                            margin-right: 24px;
                            border-radius: 50%;
                            margin-left: auto;
                        }
                        h3{
                            display: inline-block;
                            margin-top: 16px;
                            padding-top: 16px;
                            font-weight: 400;
                        }
                        p{
                            margin-bottom: 10px;
                            color: #969696;
                            font-size: 0.8em;
                        }
                        .fa{
                            color: #414141;
                            margin: 10px;
                            &:first-child{
                                margin-left: 0;
                            }
                        }
                    }
                }
                @media screen and (max-width: 1080px) {
                    width: 100%;
                }
            }
        }
        #works{
            width: 100vw;
            min-height: 720px;
            background-color: #414141;
            color: #fff;
            overflow-x: hidden;
            a { color: inherit; }
            h2{
                text-align: center;
                margin: 0;
                padding-top: 48px;
                padding-bottom: 48px;
                font-weight: 400;

                @media screen and (max-width: 480px) {
                    padding-bottom: 16px;
                }
            }

            #product-list-wrapper {
                height: 456px;
                width: 888px;
                margin: auto;
                position: relative;

                @media screen and (max-width: 480px) {
                    transform: scale(0.72);
                }

                #previous{
                    left: 0;
                }
                #next{
                    right: 0;
                }

                button{
                    position: absolute;
                    z-index: 1001;
                    background-color: transparent;
                    color: rgba(255, 255, 255, 0.4);
                    border: none;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;
                    transform: scale(1.3);
                    top: 228px;
                    outline: none;

                    &:hover{
                        color: rgba(255, 255, 255, 0.8);
                        transform: scale(1.5);
                    }
                }

                #product-list{
                    position: relative;
                    display: block;

                    .product{
                        background-color: #616161;
                        width: 296px;
                        height: 456px;
                        border: 1px solid rgba(255, 255, 255, 0.05);
                        box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 1);
                        text-align: center;
                        overflow: hidden;
                        position: absolute;
                        top: 32px;
                        transition: all 0.6s ease-in-out;

                        &.product-0 {
                            opacity: 0;
                            z-index: 0;
                            filter: blur(7px);
                        }
                        &.product-1 {
                            opacity: 0;
                            transform: translateX(-100%) scale(0.8);
                            z-index: 1;
                            filter: blur(7px);
                        }
                        &.product-2 {
                            opacity: 0.4;
                            transform: translateX(-50%) scale(0.9);
                            z-index: 2;
                            filter: blur(7px);
                        }
                        &.product-3 {
                            opacity: 0.8;
                            transform: translateX(10%) scale(1.0);
                            z-index: 3;
                            filter: blur(3px);
                        }
                        &.product-4 {
                            opacity: 1;
                            transform: translateX(100%) scale(1.1);
                            z-index: 4;
                        }
                        &.product-5 {
                            opacity: 0.8;
                            transform: translateX(190%) scale(1.0);
                            z-index: 3;
                            filter: blur(3px);
                        }
                        &.product-6 {
                            opacity: 0.4;
                            transform: translateX(250%) scale(0.9);
                            z-index: 2;
                            filter: blur(7px);
                        }
                        &.product-7 {
                            opacity: 0;
                            transform: translateX(300%) scale(0.8);
                            z-index: 1;
                            filter: blur(7px);
                        }

                        .img-wrapper{
                            width: 100%;
                            height: 336px;
                            overflow: hidden;

                            img{
                                object-fit: cover;
                                object-position: top left;
                                width: 100%;
                                height: 100%;
                                //transform: translateY(30%);
                                //transform: scale(2);
                            }
                        }
                        section{
                            height: 120px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-top: 1px solid rgba(255, 255, 255, 0.1);

                            h3{
                                margin: 0;
                                font-weight: 400;
                                text-transform: uppercase;
                                letter-spacing: 4px;
                            }
                            p{
                                margin: 0;
                                color: #aaa;
                                font-size: 13px;
                                padding: 8px 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        background-color: #eee;
        #contact{
            min-height: 700px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            .fa{
                width: 32px;
            }
            #the-map{
                max-width: 800px;
                width: 100%;
                min-width: 200px;
                max-height: 600px;
                height: 100%;
                min-height: 200px;

                iframe{
                    width: 100%;
                    //box-sizing: border-box;
                    height: 400px;
                    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
                    border: 1px solid rgba(255, 255, 255, 0.1);
                }
            }
            a{
                color: $primary-color;
            }
        }
    }
}

@keyframes transzoom{
    0%{
        transform: scale(1) translateY(0);
    }
    50%{
        transform: scale(1.5) translateX(30px) translateY(30px);
    }
    100%{
        transform: scale(1.6) translateX(90px) translateY(60px);;
    }
}

@keyframes oscillation{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-10px);
    }

    75%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes swipe{
    50%{
        transform: translateX(100px);
    }
    100%{
        z-index: 100;
        transform: translateZ(-30px);
        top: 100px;
    }
}
