{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Toggle Corp.</title>
    
    <link href="https://fonts.googleapis.com/css?family=Abel|Libre+Franklin:300,400,500" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel='stylesheet' type='text/css'>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
</head>

<body>
    <header>
        <h1><a href="#home">Toggle<span>Corp</span></a></h1>
        <div id="menu">
            <div id="toggle-menu">
                <button href="javascript:void(0);" style="font-size:15px;" onclick="toggleMenu()">☰</button>
            </div>
            <ul>
                <li><a href="#services">Services</a></li>
                <li><a href="#team">The team</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </header>

    <main>
        <section id="home">
            <a id="we" href="#">We</a><br>
            <a id="do" href="#">Do</a><br>
            <a id="awesome" href="#">Awesome</a><br>
            <a id="stuff" href="#">Stuff</a>
        </section>
        <section id="services">
            <h2>Services</h2>
            <div id="service-list">
               <div class="service">
                   <i class="fa fa-cogs fa-3x"></i>
                   <h3>Custom Software Development</h3>
               </div>
               <div class="service">
                  <i class="fa fa-mobile fa-3x" style="transform: scale(1.6);"></i>
                  <h3>Mobile App Development</h3>
               </div>
               <div class="service">
                   <i class="fa fa-globe fa-3x"></i>
                   <h3>Web Design &amp; Development</h3>
               </div>
               <div class="service">
                   <i class="fa fa-search fa-3x"></i>
                   <h3>Search Engine Optimization</h3>
               </div>
               <div class="service">
                   <i class="fa fa-adjust fa-3x"></i>
                   <h3>Graphics Design</h3>
               </div>
               <div class="service">
                   <i class="fa fa-spinner fa-3x"></i>
                   <h3>Animation</h3>
               </div>
               <div class="service">
                   <i class="fa fa-database fa-3x"></i>
                   <h3>Database Design &amp; Administration</h3>
               </div>
               <div class="service">
                   <i class="fa fa-wrench fa-3x"></i>
                   <h3>Software Maintenance &amp; Support</h3>
               </div>
           </div>
        </section>
        <section id="team">
            <h2>The Team</h2>
            <div id="member-list">
                <div class="member">
                    <img src="{% static 'img/adi.jpg' %}">
                    <h3>Aditya Khatri</h3>
                    <section>
                        <p>Developer/Designer</p>
                        <p><a href="https://github.com/AdityaKhatri"><i class="fa fa-github"></i></a><a href="https://www.linkedin.com/in/adityakhatri47"><i class="fa fa-linkedin"></i></a></p>
                    </section>
                </div>
                <div class="member">
                    <img src="{% static 'img/fh.jpg' %}">
                    <h3>Ankit Mehata</h3>
                    <section>
                        <p>Front-end Developer / System Designer</p>
                        <p><a href="https://github.com/FrozenHelium"><i class="fa fa-github"></i></a><a href="https://www.linkedin.com/in/frozenhelium"><i class="fa fa-linkedin"></i></a></p>
                    </section>
                </div>
                <div class="member">
                    <img src="{% static 'img/bibek.jpg' %}">
                    <h3>Bibek Dahal</h3>
                    <section>
                        <p>Back-end Developer / System Designer</p>
                        <p><a href="https://github.com/bibekdahal"><i class="fa fa-github"></i></a><a href="https://www.linkedin.com/in/bibek-dahal"><i class="fa fa-linkedin"></i></a></p>
                    </section>
                </div>
                <div class="member">
                    <img src="{% static 'img/pprabesh.jpg' %}">
                    <h3>Prabesh Pathak</h3>
                    <section>
                        <p>Developer / Designer</p>
                        <p><a href="https://github.com/pprabesh"><i class="fa fa-github"></i></a><a href="https://www.linkedin.com/in/prabesh-pathak-423202a9"><i class="fa fa-linkedin"></i></a></p>
                    </section>
                </div>
                <div class="member">
                    <img src="{% static 'img/ewan.jpg' %}">
                    <h3>Ewan Oglethorpe</h3>
                    <section>
                        <p>Advisor</p>
                        <p><a href="https://github.com/eoglethorpe"><i class="fa fa-github"></i></a><a href="https://www.linkedin.com/in/ewan-oglethorpe-b5b12349"><i class="fa fa-linkedin"></i></a></p>
                    </section>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section id="contact">
        </section>
    </footer>
</body>
</html>
