{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Togglecorp | Home</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel='stylesheet' type='text/css'>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/TerminalCarousel.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
</head>
<body>
    <header>
        <h1>{<span>toggle</span><span>corp</span>}</h1>
        <div>
            <p>We solemnly swear that we are up to no good.</p>
            <div class="carousel">
                <p class="terminal"><p>
                <div class="content">
                    <p>We focus on client satisfaction through continuous communication.</p>
                    <p>We use all the modern technologies and the best practices.</p>
                    <p>We give emphasis on performance and security.</p>
                    <p>We do designs that are modish and elegant.</p>
                </div>
            </div>
            <div class="action-buttons">
                <button><i class="fa fa-chevron-down"></i></button>
            </div>
        </div>
    </header>

    <main>
        <section id="we-do">
            <header>
                <h2>We do</h2>
            </header>
            <div class="content">
                <div class="feature-list">
                    <div class="feature">
                        <div>
                            <h3>Software development</h3>
                            <p>We build optimized system using modern technologies and best practices.</p>
                        </div>
                        <div>
                            <a class="fa fa-chevron-right"></a>
                        </div>
                    </div>
                    <div class="feature active">
                        <div>
                            <h3>Mobile application</h3>
                            <p>We help you bring your product to millions of users through Android apps.</p>
                        </div>
                        <div>
                            <a class="fa fa-chevron-right"></a>
                        </div>
                    </div>
                    <div class="feature">
                        <div>
                            <h3>Web platform</h3>
                            <p>We have wide range of expertise in terms of design and development in the web.</p>
                        </div>
                        <div>
                            <a class="fa fa-chevron-right"></a>
                        </div>
                    </div>
                    <div class="feature">
                        <div>
                            <h3>Data visualization</h3>
                            <p>Our experience in powerful data visualization means bringing greater insight to your business.</p>
                        </div>
                        <div>
                            <a class="fa fa-chevron-right"></a>
                        </div>
                    </div>
                </div>
                <div class="feature-preview">
                </div>
            </div>
        </section>
    </main>
     
    <footer>
    </footer>
</body>
</html>
